body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #17191a;
      color: white;
    }
    #gameArea {
      width: 400px;
      height: 300px;
      border: 2px solid #6d6659;
      margin: 2rem auto;
      position: relative;
      overflow: hidden;
    }
    #target{
      width: 40px;
      height: 40px;
      background: cornflowerblue;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    #info {
      margin-top: 1rem;
    }
    #start{
      background-color: cornflowerblue;
      border-radius: 15px;
      padding: 3px;
      width: 75px;
      box-shadow: 2px 2px 5px cornflowerblue;
      color: #dcdbd8;
    }
     #reset{
      background-color: cornflowerblue;
      border-radius: 15px;
      padding: 3px;
      width: 75px;
      box-shadow: 2px 2px 5px cornflowerblue;
      color: #dcdbd8;
    }
    button:hover {
  font-size : 12px;
}
