body {
      font-family: Arial, sans-serif;
      text-align: center;
    }
    #gameArea {
      width: 400px;
      height: 300px;
      border: 2px solid #333;
      margin: 2rem auto;
      position: relative;
      overflow: hidden;
    }
    #player {
      width: 40px;
      height: 40px;
      background: orange;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    #info {
      margin-top: 1rem;
    }